*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
.htaccess
.idea

*.sql

node_modules

# Vagrant stuff
provision/

#Plugins used in development
#Add local dev plugins here
wp-content/plugins/wordpress-importer

# wordpress custom fields
wp-content/themes/start-with-why/acf-json/*

# wordpress specific
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*

# wordpress default themes
wp-content/themes/twenty*
wp-content/languages/themes/twenty*

# wpengine specific
.smushit-status
.gitattributes
_wpeprivate
wp-content/object-cache.php
wp-content/mu-plugins/mu-plugin.php
wp-content/mu-plugins/slt-force-strong-passwords.php
wp-content/mu-plugins/limit-login-attempts
wp-content/mu-plugins/wpengine-common
wp-content/mysql.sql

# wp core (as of 4.0.0)
/index.php
/license.txt
/readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
wp-admin
wp-includes
wp-content/index.php
wp-content/themes/index.php
wp-content/plugins/index.php
wp-content/themes/start-with-why/assets/prepros.config

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
*.log

#WPEngine Local changes
.wpe-devkit/
.wpe-pull-ignore
.wpe-push-ignore
.wpengine-conf/
apple-touch-icon-precomposed.png
apple-touch-icon.png
favicon.ico
local-phpinfo.php
phpinfo.php
xero-certs/
#Eclipse files
.buildpath
.project
.settings/
